{{setYUIModule "le-home"}}
{{setDescription "Jake Koten & Susy Hemphill are getting married on September 23rd, 2017 in Glenbrooke, NV."}}
{{addCSS "/css/home.css"}}

<h1 class="ann">
    <span class="ann-primary">Susy Hemphill</span>
    <span class="ann-secondary ann-sep">&amp;</span>
    <span class="ann-primary">Jake Koten</span>
</h1>

<ol class="timeline l-grid">
  {{#event "Getting Commited"
        time   = "September 23, 2017"
        photo  = "/photos/IMG_6797.JPG"
        alt    = "Silly Beasty"
        credit = "Silly Onedoe"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Susy and Jake are getting commited this Fall in <strong>Glenbrooke, Nevada</strong>.
    </p>

    <p class="button-wedding">
        <a class="button" data-icon="i" href="/wedding/">See Commitment Details</a>
    </p>

    {{> event/time}}
  {{/event}}


{{#event "BVI's"
        time  = "February 2017"
        photo = "/photos/IMG_6826.JPG"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Jake uses ALS to guilt Susy into another week long close quarters adventure with his family. This time in actual close quarters.
    </p>

    {{> event/time}}
  {{/event}}


    {{#event "Inverness"
        time  = "February 2017"
        photo = "/photos/IMG_6564.JPG"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Another wonderful trip with Mom, Will, and Anna!
    </p>

    {{> event/time}}
  {{/event}}

      {{#event "Holloween"
        time  = "October 2016"
        photo = "/photos/IMG_6008.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
       Bob Ross and his painting.
    </p>

    {{> event/time}}
  {{/event}}

    {{#event "Susy And Jake Go To a Wedding"
        time  = "July 2016"
        photo = "/photos/IMG_6086.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
       Jake doesn't get the hint. 
    </p>

    {{> event/time}}
     {{/event}}

    {{#event "Susy Rides a horse"
        time  = "May 2016"
        photo = "/photos/IMG_5428.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
       Susy really took to riding! 
    </p>

    {{> event/time}}
     {{/event}}

    {{#event "Jake and Susy visit San Francisco"
        time  = "January 2016"
        photo = "/photos/IMG_6296.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
       New Year with Mom and Will!
    </p>

    {{> event/time}}
     {{/event}}


      {{#event "Jake and Susy visit New York"
        time  = "December 2015"
        photo = "/photos/IMG_5863.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
       Christmas with Dad and Marisa!
    </p>

    {{> event/time}}
     {{/event}}


    {{#event "Holloween"
        time  = "October 2015"
        photo = "/photos/IMG_4784.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
       Blood Orange and Straw-Berry
    </p>

    {{> event/time}}
  {{/event}}

  {{#event "Jake becomes a Trump Supporter"
        time  = "September 2015"
        photo = "/photos/IMG_5105.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
       Susy starts wondering if moving in was a good idea.
    </p>

    {{> event/time}}
  {{/event}}

  {{#event "Jake and Susy Move in together"
        time  = "September 2015"
        photo = "/photos/IMG_5057.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        I think it was the couch that presuaded her. Thanks Marisa!
    </p>

    {{> event/time}}
  {{/event}}


  {{#event "Jake and Susy Go to Brasil"
        time  = "August 2015"
        photo = "/photos/IMG_4528.JPG"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Both got desperatly ill and barely made it home alive. Zika?
    </p>

    {{> event/time}}
  {{/event}}

  {{#event "River Trip"
        time  = "July 2015"
        photo = "/photos/IMG_4622.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Susy goes on a week long trip with Jake's San Francisco Family.
    </p>

    {{> event/time}}
  {{/event}}

  {{#event "Jake Meets Susy's Competition"
        time = "June 2015"
        photo  = "/photos/IMG_4106.JPG"}}

    {{> event/header}}
     {{> event/photo}}
    <p>
       Jake's side chick
    </p>

    {{> event/time}}
  {{/event}}



  {{#event "Jake meets Candy"
        time = "November 2014"
       photo = "/photos/IMG_3747.jpg"}}

    {{> event/header}}
     {{> event/photo}}

    <p>
       Jake has never meet a candy he didn't like. This was not an exception. (Candy not not in the picture it would have been too sweat) 
    </p>

    {{> event/time}}
  {{/event}}

  {{#event "Holloween"
        time  = "October 2014"
        photo = "/photos/IMG_3049.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
       Dorthy and her house
    </p>

    {{> event/time}}
  {{/event}}

  {{#event "Jake Goes To Susy's Kill Babies Event"
        time  = "September 2014"
        photo = "/photos/IMG_3019.JPG"}}

    {{> event/header}}  
    {{> event/photo}}

    <p>
        Jake and Susy think about Killing babies.
    </p>

    {{> event/time}}
  {{/event}}

  {{#event "Met for the First Time"
        time = "September 2014"}}

    {{> event/header}}

        <p> It was HOT</p>

    {{> event/time}}
  {{/event}}

    <li class="timeline-events">
        <ol class="l-grid">
          {{#event "Moved: Chicago to Austin"
                time = "May 2014"}}

            {{> event/header}}
             <p> No photos were taken of this time</p>
            {{> event/time}}
          {{/event}}

          {{#event "Susy Moves to Austin"
                time = "September 2011"
                photo  = "/photos/IMG_0507.jpg"}}

            {{> event/header}}
             {{> event/photo}}
            {{> event/time}}
          {{/event}}
        </ol>
    </li>
</ol>
