{{setPageTitle "Registry"}}
{{setActiveNav "registry"}}
{{addCSS "/css/registry.css"}}

<div class="reg l-contain">
    <h1>Thoughts about ALS</h1>

    <p>
       ALS is not the most baffling disease known to man, but it is certainly right up there. There is currently no cure and little to no understanding of how, where, or why it starts inside the body.  It strikes radomly and its course varies widely from one person to the next, compounding the challenge of understanding and tracking it.  The varying and uneven progression of the disease makes developing therapies in clinical trials especially difficult.  Eventually, though, the outcome is the same for everyone it impacts: a loss of function in all of the muscles humans can voluntarily control. The sole exceptions are the muscles that control eye movement.
    </p>

    <p>
       ALS frightens people at a primitive level because, at least until recently in human history, our survival has depended on the use of our voluntary muscles, not the least of which are the ones that power our lungs.  Before eye tracking software was developed, having ALS meant communication with others was nearly impossible.  Today, however, further advances in technology and medicine are making it possible for ALS patients to live far beyond the commonly cited 2-5 year life expectancy.  This is even more true for the minority who develop the disease at a young age. 
    </p>
    <p>
        Many ALS patients can now live productive and happy lives with the support of loved ones, friends, and caring medical professionals.  Much more needs to be learned about how ALS can be curbed and eventually reversed. But science is moving ahead at a rapid rate.  As many in the ALS community now like to say, this disease is not incurable, just underfunded.  
    </p> 
    <p>
        The single best nonprofit our family knows of is the ALS Therapy Development Institute in Cambridge, Massachusetts.  This organization spends a higher percentage of its revenue on ALS research than any other charity.  Finding a cure for ALS is its primary mission.
    </p>
    <p>
        Another outstanding nonprofit is Team Gleason, founded by former New Orleans Saints player Steve Gleason.   His group is devoted to providing assistive technology to ALS patients.  The ALS Association is a well-meaning outfit and a good source of information, but it still hasn't spent all of the money it raised from the Ice Bucket Challenge. We don't know why. 
    </p>
    <p>
        ALS restricts the body, but it doesn't limit the human spirit.  Every day, people with ALS are finding new ways to create, dream, and engage their fellow human beings with love.
    </p>

</div>
