{{setPageTitle "Hotels Near Wedding"}}
{{setActiveNav "logistics"}}
{{addCSS "/css/details.css"}}

<div class="l-contain">
  {{#subnav "logistics" active="hotels"}}
    {{> subnav}}
  {{/subnav}}

    <h1>Staying Near Our Wedding</h1>

    <p>
        There are many hotels and lodging options in the Lake Tahoe area. You’ll want to pay attention to the distance and drive time to Glenbrooke, it’s possible to stay in Tahoe and be an hour or more away from the venue.
    </p>


    <h2>Hard Rock Hotel & Casino Lake Tahoe</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://hardrockcasinolaketahoe.com/">Hard Rock</a></li>
                <li><b>Phone:</b> 844-588-7625</li>
                <li>Enter the code “rockit2017” into the Corporate/Promotion Code Box for a 10% discount</li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="https://www.google.com/maps/place/50+US-50,+Stateline,+NV+89449/@38.9637648,-119.9411303,17z/data=!3m1!4b1!4m5!3m4!1s0x80999a83358dd403:0x43e712a38b2a70c0!8m2!3d38.9637648!4d-119.9389416">
                    50 Highway 50 <br>
                    Stateline, NV, 89449
                </a>
            </address>
        </div>
    </div>

    <h2>Marriott Timber Lodge</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://www.marriott.com/hotels/hotel-photos/rnotl-marriotts-timber-lodge/">Marriot Timber</a></li>
                <li><b>Phone:</b> 530-542-6600</li>
                
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="http://www.google.com/maps/place/4100+Lake+Tahoe+Blvd,+South+Lake+Tahoe,+CA+96150/@38.9571829,-119.9441367,17z/data=!3m1!4b1!4m5!3m4!1s0x80999077a85455b9:0x46a9b26763934758!8m2!3d38.9571829!4d-119.9419427">
                    4100 Lake Tahoe Boulevard<br>
                     South Lake Tahoe, CA 96150
                </a>
            </address>
        </div>
    </div>

    <h2>Lake Tahoe Resort Hotel</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="https://www.tahoeresorthotel.com/">Tahoe Resort Hotel</a></li>
                <li><b>Phone:</b> 877-497-8483</li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="http://maps.apple.com?q=214+Goldsborough+Street+Easton,+MD+21601">
                    4130 Lake Tahoe Blvd. <br>
                    South Lake Tahoe, CA 96150
                </a>
            </address>
        </div>
    </div>

    <div class="break"></div>

    <h2> Other Options </h2>
    <a href="http://www.glenbrookrentalprogram.com/about/"> Glenbrook Realty: short term condo rentals</a><br>
    <a href="https://www.airbnb.com/"> Airbnb</a><br>
    <a href="https://www.vrbo.com/"> VRBO</a><br>

</div>
