{{setPageTitle "Traveling to Wedding"}}
{{setActiveNav "logistics"}}

<div class="l-contain">
  {{#subnav "logistics"}}
    {{> subnav}}
  {{/subnav}}

    <h1>Traveling to Our Wedding</h1>

    <p>
        We understand that many of our guests will be traveling from out of state and we hope to provide you with all of the necessary information to make your travel to Nevada as easy as possible.
    </p>

    <h2>Travel to Lake Tahoe</h2>
    <p>
        The Ceremony will be in Glenbrook, Nevada.  The nearest town to Glenbrook is Stateline, NV (about 10 miles away). The Reno Airport (RNO) is an easy, one-hour drive from Glenbrooke.
    </p>

</div>
