{{setPageTitle "Traveling to Ceremony"}}
{{setActiveNav "logistics"}}

<div class="l-contain">
  {{#subnav "logistics"}}
    {{> subnav}}
  {{/subnav}}

    <h1>Traveling to Our Ceremony</h1>

    <p>
        We understand that many of our guests will be traveling from out of state and we hope to provide you with all of the necessary information to make your travel to Nevada as easy as possible.
    </p>

    <h2>Travel to Lake Tahoe</h2>
    <p>
        The Ceremony will be in Glenbrook, Nevada.  The nearest town to Glenbrook is Stateline, NV (about 10 miles away). The Reno Airport (RNO) is an easy, one-hour drive from Glenbrooke.
    </p>

    <h2>From the Airport</h2>
    <p>
    <a href="https://southtahoeairporter.com/">South Tahoe Airporter</a> Provides shuttle service from the Reno Airport to the Hard Rock hotel for around $26 each way.
</div>
